
# Project files
*.iml
.idea
.project
.settings
.classpath


# Java files
*.class
*.jar
*.war
*.ear
target

# Mac OS X Finder
.DS_Store

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*.log
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

_*